<head>
  <%- include('../partials/header') %>
    <title>Edit Story</title>
  </head>
  <body>
    <a href="/story"> <- Back to the Library </a> <br><br>
    <nav>
      <h1> Edit the story, "<%= story.title %>" </h1>
      <ul>

      </ul>
    </nav>
    <main>
      <h2></h2>
      <form action="/story/<%= story._id %>?_method=PUT" method="POST">
        <p>
          <input
            type="text"
            name="title"
            placeholder="Title"
            value="<%= story.title %>"
          />
        </p> <br>
        <p>
          <textarea type="text" name="body" placeholder="Body">
<%= story.body %></textarea
          >
        </p>
        <input type="submit" value="Update Story" />
      </form>
    </main>
  </body>
</html>
