<head>
  <%- include('../partials/header') %>
    <title>Show</title>
  </head>
  <body>
    <!-- <a href="/story"> <- Back to the Library </a> --> 
    <br><br><br>
    <nav>
      <!-- <h1>Welcome to Storytime</h1>  -->
  <br>
    </nav>
    <main>
      <section>
        <h2><%= story.title %></h2>
        <ul>
           <br> <br>

          <%= story.body %>
        </ul>
        <!-- <a href="/story/<#= story._id %>/edit">[ Edit ]</a> -->
      </section>
      <form action="/story/<%= story._id %>/edit?_method=EDIT" method="EDIT">
        <input type="submit" value="Edit" />
      </form>
      <br>
      <form action="/story/<%= story._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" />
      </form>
    </main>
  </body>
</html>
